<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO Test</title>
    <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {

            namespace = '';
            var socket = io(namespace);

            socket.on('connect', function() {
                socket.emit('my_response', {data: 'I\'m connected!'});
            });

            socket.on('my_response', function(msg, cb) {
                $('#log').html('<br>' + msg.data);
                if (cb)
                    cb();
            });
        });
    </script>
</head>
<body>
    <h2>ShopRite Pickup Slots:</h2>
    <div id="log"></div>
</body>
</html>